---
repos:
  - repo: https://github.com/alessandrojcm/commitlint-pre-commit-hook
    rev: v2.2.0
    hooks:
      - id: commitlint
        stages: [commit-msg]
        args: ["--config", ".commitlint.config.js"]
        additional_dependencies: ["@commitlint/config-conventional"]
  - repo: https://github.com/psf/black
    rev: 24.3.0
    hooks:
      - id: black
        stages: [commit]
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.3.5
    hooks:
      - id: ruff
        stages: [commit]
        args: [--fix, --exit-non-zero-on-fix]
