version: "3"
services:
  agent:
    image: acapy-plugin-data-transfer
    build:
      context: ../
      dockerfile: ./Dockerfile
    ports:
      - "3001:3001"
    command: >
      start -it http 0.0.0.0 3000
        -ot http
        -e http://agent:3000
        --admin 0.0.0.0 3001 --admin-insecure-mode
        --plugin acapy_plugin_data_transfer
        --no-ledger
        --log-level debug
        --webhook-url http://echo:3002/webhook
    healthcheck:
      test: curl -s -o /dev/null -w '%{http_code}' "http://localhost:3001/status/live" | grep "200" > /dev/null
      start_period: 5s
      interval: 1s
      timeout: 5s
      retries: 5
    depends_on:
      echo:
        condition: service_healthy

  echo:
    # Image with session support, replace with latest after merged
    image: ghcr.io/indicio-tech/echo-agent:0.1.2
    ports:
      - "3002:3002"
    command: --host 0.0.0.0 --port 3002 --log-level debug
    healthcheck:
      test: nc -z localhost 3002
      start_period: 5s
      interval: 1s
      timeout: 5s
      retries: 5

  driver:
    container_name: driver
    build:
      context: ./driver
      dockerfile: ./Dockerfile
    environment:
      - AGENT_ENDPOINT=http://agent:3001
      - ECHO_ENDPOINT=http://echo:3002
    volumes:
      - ./driver/driver.py:/usr/src/app/driver.py:z
    depends_on:
      echo: 
        condition: service_healthy
      agent: 
        condition: service_healthy

